.wrapper {
  margin-bottom: 1rem;
}

.input {
  border: 1px solid var(--border);
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: var(--border);
  transition: 0.2s;
}
.input:focus,
.input:hover {
  outline: none;
  border-color: var(--yellow);
  background: white;
  box-shadow: 0 0 0 3px var(--yellow-light);
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.error {
  color: var(--error);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
